[submodule "microsoft-authentication-library-common-for-android"]
	path = common
	url = https://github.com/AzureAD/microsoft-authentication-library-common-for-android.git
	branch = yuki/key-vault-test
