.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures
*.iml
*.apk
*.ap_
*.dex
*.class
.DS_Store
bin/
gen/
target/
Support/
local.properties
integration_tests.properties
*.ipr
*.iws
.idea/
/**/*.pom
.settings
.project
jacoco-agent.properties
