# Each line is a file pattern followed by one or more owners.
# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Repo Code Owners
#--------------------

*       @AzureAD/androididentity


# Area Owners
#---------------------

# @AzureAD/NativeAuthTeam owns any files related to CIAM native authentication.
msal/src/main/java/com/microsoft/identity/nativeauth/ @AzureAD/NativeAuthTeam
msal/src/test/java/com/microsoft/identity/nativeauth/ @AzureAD/NativeAuthTeam

# If you are interested in reviewing or getting notified of changes in a particular area
# Please add your alias against that specific path below
# Example:
# /msalautomationapp/                                                                 @iamgusain 

