<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- MSAL activity that will be used to process all the auth related logic  -->
        <activity
            android:name="com.microsoft.identity.common.internal.providers.oauth2.AuthorizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|keyboard"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name="com.microsoft.identity.common.internal.providers.oauth2.CurrentTaskAuthorizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|keyboard"
            android:exported="true"
            android:launchMode="standard" />

        <!-- Helper activity for displaying current broker redirect URI configuration -->
        <activity
            android:name="com.microsoft.identity.client.helper.BrokerHelperActivity"
            android:exported="true"
            android:launchMode="standard" />

        <!-- MSAL will use system webview (custom tab) to render the sign-in page, BrowserTabActivity is to get response back from System Webview. Multiple apps on the device could integrate MSAL, OS will check which BrowserTabActivity can handle the intent based on the intent filter declared, so this activity has to be exported.-->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:exported="true" />

        <activity
            android:name="com.microsoft.identity.client.CurrentTaskBrowserTabActivity"
            android:exported="true" />
    </application>
</manifest>